/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}

.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 60rem;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.timeline-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.clip-box {
  width: 33rem;
  margin: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clip-container {
  width: 95%;
  background-color: #efefef;
  box-shadow: 1px 1px 2px #888;
  transition: all 0.2s ease;
  position: relative;

  &:hover {
    transform: scale(1.05);

    transition: all 0.2s ease;
  }
}

.tas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.tas-image {
  filter: blur(1px) brightness(0.3);
}

.tas-text {
  color: #fff;
  font-weight: 600;
  font-size: 1.35em;
  position: absolute;
  margin: 1rem 1.5rem;
  z-index: 3;
  text-align: center;

  &:active, &:hover {
    color:rgb(218, 255, 79);
  }
}

.tas-time {
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  margin: 0;
  z-index: 3;
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
}

.leigh-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6rem;
  position: relative;
  overflow: hidden;
}

.leigh-score {
  font-size: 1.25em;
  font-weight: 600;
  color: #222;
  position: relative;
  margin: 0 0 0 0.5rem;
}

.icon {
  position: relative;
  width: 40px;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.arrow {
  position: absolute;
  width: 5px;
  height: 80%;
  background-color: rgb(233, 100, 215);

  transition: all 0.1s ease-in;
  &:hover {
    transition: all 0.1s ease-in;
    background-color: rgb(233, 52, 215);

    &::after, &::before {
      transition: all 0.1s ease-in;
      background-color: rgb(233, 52, 215);
    }
  }
}

.arrow::after, .arrow::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 65%;
  top: -3px;
  background-color: rgb(233, 100, 215);
  transition: all 0.1s ease-in;
}

.arrow::after {
  left: -0.37rem;
  transform: rotate(45deg);
}

.arrow::before {
  left: 0.37rem;
  transform: rotate(-45deg);
}

.leigh-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 0, 170);
  border-radius: 0.5rem;
  margin: 0 1rem 0 auto;

  & p {
    color: #fff;
    font-size: 0.9em;
    font-weight: 500;
    margin: 0.2rem 0.6rem;
  }
}

header {
  margin: 0 auto;
  width: 100%;
  background: rgb(96, 0, 170);
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;
  font-weight: 700;

  & div.title {
    max-width: 110rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }

  & p.classic,p.clips {
    font-size: 4.5em;
    margin: 1rem 1rem 0 1rem;

    &.classic {
      margin-left: 4rem;
      color:rgb(233, 52, 215);
    }

    &.clips {
      color:rgb(218, 255, 79);
    }
  }

  & div.auth {
    display: flex;
    flex-direction: column;
    margin: 0 4rem 0 auto;

    & div.signup {
      background-color: rgb(218, 255, 79);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      cursor: pointer;
  
      & a {
        color: #222;
        font-size: 1.1em;
        font-weight: 500;
        margin: 0.2rem 0.6rem;
      }
    }

    & p.signin {
      cursor: pointer;
      text-decoration: underline;
      font-size: 1.1em;
      margin: 1rem 0 0 0;
      color: #fff;
    }
  } 
}

.skeets-container {
  display: flex;
  width: 100%;
  max-width: 110rem;
  flex-direction: row;
  align-items: center;
  height: 4.20rem;

  border-radius: 0.5rem;
  background-color: rgb(218, 255, 79);
  box-shadow: 1px 2px 2px #777;

  & a {
    color: #333;
    font-size: 1.15em;
    font-weight: 600;
    margin-left: 2rem;
    display: block;
    text-decoration: underline;
    line-height: 1.5em;
  }

  & form {
    margin: 0;
  }

  & select {
    border: none;
    border-bottom: 2px dashed #888;
    border-radius: 0;

    height: auto;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0.1rem;
    margin: 0 3rem 0 0.5rem;
    color: rgb(233, 52, 215);
    font-size: 1em;
    font-weight: 500;
  }

  & p.sort-by {
    margin: 0 0.5rem 0 auto;
    font-size: 1em;
    font-weight: 500;
    color: #333;
  }
}

.username {
  margin: 0 3rem 0 auto;
  color: #fff;
  font-weight: 300;
  & span {
    text-decoration: underline;
  }
}

#clip-form {
  z-index: 5;
  margin: 0 auto 0 auto;

  & .input-group {
    width: 80%;
    max-width: 40rem;
    margin: 0 auto 1rem auto;
  }

  & button.submit {
    display: block;
    margin: 0 auto;

    color:rgb(218, 255, 79);
    background-color: rgb(96, 0, 170);
    font-size: 1.0em;
    letter-spacing: 0.2rem;
  }
}

.login-for-jd {
  width: 80%;
  max-width: 40rem;
  margin: 0 auto 2rem auto;
  color: red;
  line-height: 1.6em;
  font-size: 1.05em;
}

.phx-modal-close {
  line-height: 0.69em;
  font-size: 2.1em;
}

h2.modal-header {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}