/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}

.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 60rem;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.timeline-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

div.empty-clips {
  margin: 4rem auto;

  & p {
    font-size: 1.03em;
    color: #777;
    text-align: center;
  }
}

.clip-box {
  width: 33rem;
  margin: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clip-container {
  width: 100%;
  background-color: #efefef;
  box-shadow: 1px 1px 2px #888;
  transition: all 0.1s ease;
  position: relative;

  &:hover {
    transform: scale(1.03);

    transition: all 0.15s ease;
  }
}

.tas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 16rem;
}

.save-button {
  z-index: 4;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #ffd1d1;
  cursor: pointer;

  &.saved,
  &.saved:before,
  &.saved:after {
    background-color: red;
  }
}
.save-button:before,
.save-button:after {
  position: absolute;
  width: 12px;
  height: 12px;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffd1d1;
  cursor: pointer;
}
.save-button:before {
  bottom: 0px;
  left: -6px;
}
.save-button:after {
  top: -6px;
  right: 0px;
}

div.clip-edit-button {
  z-index: 4;
  position: absolute;
  cursor: pointer;
  left: 1rem;
  top: 1rem;
  opacity: 0.7;
  transition: all ease 0.15s;

  &:hover {
    opacity: 0.95;
    transition: all ease 0.15s;
  }

  &.hide {
    display: none;
  }

  & i {
    color: #dedede;
    font-size: 1.3em;
  }
}

.tas-image {
  filter: blur(1px) brightness(0.3);
}

.tas-text {
  color: #fff;
  font-weight: 700;
  font-size: 1.35em;
  position: absolute;
  margin: 1rem 1.5rem;
  z-index: 3;
  text-align: center;

  &:active,
  &:hover {
    color: rgb(218, 255, 79);
  }
}

.tas-time {
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  margin: 0;
  z-index: 3;
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
}

.leigh-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6rem;
  position: relative;
  overflow: hidden;
}

.leigh-score {
  font-size: 1.2em;
  font-weight: 600;
  color: #444;
  opacity: 0.8;
  position: relative;
  margin: 0 0 0 1rem;
}

div.leigh-score-voted.icon {
  background-color: rgb(96, 0, 170);
  cursor: auto;
  opacity: 0.7;

  & div.arrow,
  & div.arrow::after,
  & div.arrow::before {
    background-color: #fff;
  }
}

div.leigh-score-not-logged-in.icon {
  background-color: transparent;
  cursor: auto;

  & div.arrow,
  & div.arrow::after,
  & div.arrow::before {
    background-color: #888;
  }
}

.icon {
  position: relative;
  width: 3.25rem;
  height: 3.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.arrow {
  position: absolute;
  width: 5px;
  height: 70%;
  background-color: rgb(233, 100, 215);

  transition: all 0.1s ease-in;
  &:hover {
    transition: all 0.1s ease-in;
    background-color: rgb(233, 52, 215);

    &::after,
    &::before {
      transition: all 0.1s ease-in;
      background-color: rgb(233, 52, 215);
    }
  }
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 65%;
  top: -3px;
  background-color: rgb(233, 100, 215);
  transition: all 0.1s ease-in;
}

.arrow::after {
  left: -0.4rem;
  transform: rotate(45deg);
}

.arrow::before {
  left: 0.4rem;
  transform: rotate(-45deg);
}

.leigh-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 0, 170);
  border-radius: 0.5rem;
  margin: 0 1rem 0 auto;

  & p {
    color: #fff;
    font-size: 0.9em;
    font-weight: 500;
    margin: 0.2rem 0.6rem;
  }
}

header {
  margin: 0 auto 2rem 0;
  width: 100%;
  background: #6000aa;

  & div.title {
    max-width: 110rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

    @media (max-width: 40rem) {
      flex-wrap: wrap;
    }
  }

  & div.big-ass-name {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 2rem;

    @media (max-width: 40rem) {
      margin: 2rem auto 0.5rem auto;
    }

    & a.classic,
    a.clips {
      font-size: 5em;
      font-family: "Teko", sans-serif;
      font-weight: 600;
      letter-spacing: 0.06em;

      @media (max-width: 40rem) {
        font-size: 3.14em;
        line-height: 1em;
      }

      &.classic {
        color: rgb(233, 52, 215);
        margin-right: 1rem;
      }

      &.clips {
        color: rgb(218, 255, 79);
        margin-left: 1rem;
      }
    }

    & a.header-about {
      color: #fff;
      font-size: 1.1em;
      font-weight: 600;
      position: relative;
      bottom: 0.2rem;
      letter-spacing: 2px;
      margin-left: 1rem;
    }
  }

  & div.auth {
    display: flex;
    flex-direction: column;
    margin: 0 4rem 0 auto;

    @media (max-width: 40rem) {
      flex-direction: row;
      margin: 1rem auto;
    }

    & div.signup {
      background-color: rgb(218, 255, 79);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      cursor: pointer;

      @media (max-width: 40rem) {
        margin: 0.5rem 1rem;
      }

      & a {
        color: #222;
        font-size: 1.1em;
        font-weight: 500;
        margin: 0.2rem 0.6rem;

        @media (max-width: 40rem) {
          margin: 0 0.5rem;
        }
      }
    }

    & a.signin {
      cursor: pointer;
      text-decoration: underline;
      font-size: 1.1em;
      margin: 1rem 0 0 0;
      color: #fff;

      @media (max-width: 40rem) {
        margin: 0 1rem;
        line-height: 2em;
      }
    }
  }

  div#user-header-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2rem 0 auto;

    @media (max-width: 40rem) {
      margin: 0 auto 1rem auto;
    }

    & img {
      width: 4rem;
      border-radius: 2rem;
      height: 4rem;
      object-fit: cover;
    }

    & div.user-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1.5rem;

      & p {
        margin: 0;
      }

      & p.username {
        font-weight: 300;
        & a {
          text-decoration: underline;
          color: #fff;
          font-size: 1.25em;
        }
      }

      & p.votes {
        color: #fff;
        font-weight: 300;
        font-size: 0.9em;
        opacity: 0.75;
      }
    }
  }
}

div.show-signup-message {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 15px;
  margin: 0 2rem 2rem 1rem;
  border: 1px solid transparent;
  border-radius: 4px;

  & p {
    margin: 0;
  }
}

.skeets-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3rem 2rem 2rem 1rem;

  @media (max-width: 40rem) {
    flex-wrap: wrap;
    justify-content: center;
    height: 11rem;
    padding: 1rem 0;
  }

  & a.skeets-create-classic-clip-button {
    height: 4.2rem;
    border-radius: 0.5rem;
    background-color: rgb(96, 0, 170);
    box-shadow: 1px 2px 2px #777;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding: 0 1.5rem;
    display: block;
    text-decoration: underline;
    line-height: 2.5em;
    letter-spacing: 0.07em;
    font-size: 1em;
    font-weight: 500;
    margin: 0 1rem 0 0;

    @media (max-width: 40rem) {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  & div.swimup-bar-loooking-good {
    height: 4.2rem;
    flex: 1;
    margin: 0 0 0 2rem;
    border-radius: 0.5rem;
    background-color: rgb(218, 255, 79);
    box-shadow: 1px 2px 2px #777;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 40rem) {
      margin: 1rem auto;
    }
  }

  div#search-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #444;
    margin: 0 2rem;

    @media (max-width: 40rem) {
      display: none;
    }

    & i.fa-search {
      color: #444;
      opacity: 0.8;
    }

    & form.search-form {
      margin: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & input {
        border: none;
        border-radius: 0;
        padding: 0.25rem 0.25rem;
        font-size: 1.05em;
        height: auto;
        margin: 0;
      }
    }
  }

  & form.sort-form {
    margin: 0 auto;
  }

  & select {
    border: none;
    border-bottom: 2px dashed #888;
    border-radius: 0;

    height: auto;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0.1rem;
    margin: 0 3rem 0 0.5rem;
    color: rgb(233, 52, 215);
    font-size: 1em;

    @media (max-width: 40rem) {
      margin: 0 0 0 0.5rem;
    }
  }

  & p.sort-by {
    margin: 0 0.5rem 0 auto;
    font-size: 1em;
    color: #444;
    opacity: 0.75;

    @media (max-width: 40rem) {
      margin: 0 auto;
    }
  }
}

#clip-form {
  z-index: 5;
  margin: 0 auto 0 auto;

  & .input-group {
    width: 80%;
    max-width: 40rem;
    margin: 0 auto 1rem auto;
  }

  & button {
    display: block;
    font-size: 1em;
    letter-spacing: 0.2rem;
    margin: 0 auto;
  }

  & button.submit {
    color: rgb(218, 255, 79);
    background-color: rgb(96, 0, 170);
  }

  & button.delete-clip-button {
    margin: 1rem auto 0 auto;
    border: none;
    opacity: 0.95;
    color: #fff;
    background-color: tomato;
  }

  & div.tag-group {
    display: flex;
    flex-direction: column;

    & div.crew,
    & div.topic {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin: 1rem 0;

      & div.tag {
        cursor: pointer;
        height: 2.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        background-color: transparent;
        margin: 0.5rem 0.5rem 0.5rem 0;

        &.selected {
          background-color: rgb(96, 0, 170);
          & > p {
            text-decoration: none;
            color: rgb(218, 255, 79);
            font-weight: 600;
            margin: 0 0.6rem;
          }
        }

        & > p {
          font-size: 0.9em;
          color: #222;
          margin: 0 0.75rem;
          text-decoration: underline;
        }
      }
    }
  }
}

.login-for-jd {
  width: 80%;
  max-width: 40rem;
  margin: 0 auto 2rem auto;
  color: red;
  line-height: 1.6em;
  font-size: 1.05em;
}

.phx-modal-close {
  line-height: 0.69em;
  font-size: 2.1em;
}

h2.modal-header {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

div.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;

  & div {
    margin: 0.55rem;
    width: 0;
    height: 0;
    cursor: pointer;
  }

  & div.left {
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;

    border-right: 2.25rem solid rgb(233, 52, 215);
  }

  & div.right {
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;

    border-left: 2.25rem solid rgb(233, 52, 215);
  }

  p.pagination-text {
    margin: 0 1rem;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
}

div.profile-container {
  & div.profile-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 40rem) {
      flex-direction: column;
    }

    & div.google-profile {
      border-radius: 3.75rem;
      box-shadow: 1px 2px 4px #555;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 8rem;

      & img {
        width: 4rem;
        margin: 0 1rem 0 2.5rem;
      }

      & div.info-container {
        margin: 0 2.5rem 0 1rem;
        & p {
          margin: 0.2rem;
          font-weight: 500;
        }

        & p:first-child {
          color: #777;
          font-weight: auto;
        }
      }
    }

    & div.username-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
      height: 11rem;

      @media (max-width: 40rem) {
        margin-top: 1rem;
      }

      & img {
        max-width: 3rem;
      }

      & p.big-username {
        font-size: 3em;
        font-weight: 700;
        color: #222;
        margin: 0 1rem;
        vertical-align: bottom;
        color: rgb(233, 52, 215);
        opacity: 0.7;

        @media (max-width: 40rem) {
          font-size: 2em;
          line-height: 1.1em;
        }

        & span {
          color: #333;
          margin-right: 0.65rem;
        }
      }

      p.edit {
        text-decoration: underline;
        color: #555;
        font-size: 0.95em;
        margin: 1.5rem 1rem 0 0.5rem;
        cursor: pointer;

        @media (max-width: 40rem) {
          margin: 0 1rem;
        }
      }
    }

    & form {
      height: 11rem;
      margin: 0 auto;
      width: 50%;
      max-width: 40rem;

      @media (max-width: 40rem) {
        margin: 2rem 0 0 0;
        width: 90%;
      }

      & input {
        font-size: 1.05em;
      }

      & span.invalid-feedback {
        margin: -1rem 0 0.5rem 0;
      }

      & button {
        width: 100%;
        background-color: rgb(96, 0, 170);
      }
    }
  }

  & div.user-clips-area {
    margin: 2rem 0 4rem 0;

    @media (max-width: 40rem) {
      margin: 2rem auto;
    }

    & div.headers {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem 0;

      & h2 {
        font-size: 0.95em;
        font-weight: 500;
        letter-spacing: 0.14em;
        margin: 0 2rem;
        padding: 0.5rem 1.5rem;
        cursor: pointer;

        &.selected {
          border-bottom: 3px solid rgb(96, 0, 170);
        }
      }
    }

    div#user-clips {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

footer {
  margin: 5rem auto;
  max-width: 110rem;
  width: 100%;
  border-top: 1px solid #999;

  &.beef-footer {
    background-color: #111;
    max-width: initial;
    margin: 0;
    border: none;
    color: #fff;

    & div.footer-links {
      margin: 0;
    }

    & p#disclaimer {
      margin-bottom: 0;
      color: #efefef;
      padding-bottom: 2rem;
    }
  }

  & div.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;

    & > a {
      margin: 0 1.5rem;
    }

    & > a:first-child {
      margin-left: 0;
    }

    & > a:last-child {
      margin-right: 0;
    }
  }

  & p {
    margin: 1.5rem auto;
    font-size: 0.95em;
    font-weight: 300;
    text-align: center;
    color: #444;
  }
}

div#about-page {
  max-width: 80rem;
  margin: 0 auto;

  & > h2 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 2rem;
  }

  & p {
    font-size: 1.25em;
  }

  & div.turn-up {
    & > p {
      margin: 0.13rem 0;
    }

    margin-bottom: 1rem;
  }

  @media (max-width: 40rem) {
    margin: 0 auto;
    width: 80%;
  }
}

div#beef-container {
  background-color: #111;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 70rem) {
    min-height: 95rem;
  }

  & h1 {
    color: #fff;
    font-size: 2.5em;
    font-family: "Cutive Mono", monospace;
    width: 80%;
    max-width: 110rem;
    margin: 4rem auto 0.5rem auto;

    @media (max-width: 40rem) {
      margin: 3rem auto 1rem auto;
      font-size: 1.8em;
    }
  }

  & p.lead {
    font-size: 1.1em;
    font-family: "Cutive Mono", monospace;
    color: #fff;
    width: 80%;
    max-width: 110rem;
    margin: 0 auto 1rem auto;
    opacity: 0.65;

    @media (max-width: 40rem) {
      font-size: 1em;
    }
  }

  & p.active-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    font-family: "Cutive Mono", monospace;
    font-size: 0.99em;
    width: 80%;
    max-width: 110rem;
    margin: 0.5rem auto 2rem auto;

    @media (max-width: 40rem) {
      margin: 0rem auto 5rem auto;
    }

    @keyframes lighten {
      50% {
        opacity: 0.25;
      }
    }

    & span {
      display: inline-block;
      height: 1rem;
      width: 1rem;
      background-color: #777;
      border-radius: 0.5rem;
      margin-left: 1rem;

      &.active {
        background-color: red;
        opacity: 0.8;
        animation: lighten 2s linear infinite;
      }
    }
  }

  & div#beef-graph {
    position: relative;
    margin: 1rem auto;
    width: 80%;
    max-width: 110rem;
    height: 50rem;
    border-bottom: 2px solid green;
    border-left: 2px solid green;

    @media (max-width: 40rem) {
      margin: 1rem 2rem 1rem auto;
      width: 73%;
    }

    & div.graph-lines {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;

      & div.beef-graph-line {
        height: 1px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 255, 0, 0.15);
      }
    }

    & div#beef-line {
      position: absolute;
      width: 100%;
      border-top: 3px solid green;
      top: 28.57%;
      opacity: 0.7;

      & > p {
        font-size: 1.55em;
        text-transform: uppercase;
        color: #fff;
        opacity: 0.75;
        margin: 0.25rem 1rem;
        font-family: "Cutive Mono", monospace;
        line-height: initial;
      }
    }

    & div#regulation-end-line {
      position: absolute;
      left: 80.2%;
      top: 0px;
      height: 100%;
      border-left: 3px solid green;
      padding: 0 0.5rem;
      width: 3rem;
      opacity: 0.7;

      & p {
        color: #fff;
        font-size: 0.95em;
        font-family: "Cutive Mono", monospace;
      }
    }

    & div.x-axis-label {
      position: absolute;
      height: 1rem;
      width: 2px;
      background-color: #fff;
      opacity: 0.75;
      bottom: -1.25rem;

      &.oneq {
        left: -0.18rem;
      }
      &.twoq {
        left: 20.69%;
      }
      &.threeq {
        left: 41.38%;
      }
      &.fourq {
        left: 62%;
      }
      &.endreg {
        left: 80.2%;
        & p {
          right: 2.25rem;
        }

        @media (max-width: 40rem) {
          height: 2.75rem;
          bottom: -3rem;

          & p {
            top: 3rem;
          }
        }
      }
      &.twoot {
        left: 91.3%;
      }

      & p {
        position: relative;
        font-size: 0.9em;
        color: #fff;
        opacity: 0.75;
        top: 1rem;
        right: 0.75rem;
        font-family: "Cutive Mono", monospace;
      }
    }

    & div.y-axis-label {
      position: absolute;
      width: 1rem;
      height: 2px;
      background-color: #fff;
      opacity: 0.75;
      left: -1.25rem;

      & p {
        position: relative;
        font-size: 0.9em;
        color: #fff;
        opacity: 0.75;
        right: 3rem;
        bottom: 1.1rem;
        font-family: "Cutive Mono", monospace;
      }

      &.ten-off {
        bottom: 23.81%;
      }
      &.fift-off {
        bottom: 47.62%;
      }
      &.twen-off {
        bottom: 70.9%;
      }

      &.twefiv-off {
        bottom: 95.24%;
      }
    }

    p.y-axis-title {
      position: absolute;
      color: #fff;
      opacity: 0.75;
      font-size: 1.5em;
      transform: rotate(-90deg);
      left: -15rem;
      bottom: 42%;
      font-family: "Cutive Mono", monospace;

      @media (max-width: 40rem) {
        left: -14rem;
      }
    }

    p.x-axis-title {
      position: absolute;
      color: #fff;
      opacity: 0.75;
      font-size: 1.5em;
      left: 42%;
      font-family: "Cutive Mono", monospace;
      bottom: -12rem;

      @media (max-width: 40rem) {
        left: 15%;
      }
    }

    p.last-updated-time {
      position: absolute;
      color: #fff;
      opacity: 0.5;
      font-size: 0.9em;
      right: 0;
      font-family: "Cutive Mono", monospace;
      top: -4rem;

      @media (max-width: 40rem) {
        top: -5rem;
        text-align: right;
      }
    }

    div.beef-point {
      position: absolute;
      width: 22px;
      height: 22px;
      left: 50%;
      top: 20%;
      z-index: 3;
      overflow: hidden;

      transition: all 0.3s ease;

      & > p.steak {
        position: relative;
        bottom: 0.75rem;
        font-size: 1.4em;
        margin: 0;
      }

      &:hover {
        max-height: 20px;
        overflow: visible;
        transform: scale(1.25);
        z-index: 4;
      }

      & div.beef-info {
        position: relative;
        width: 20rem;
        background-color: #222;
        border: 1px solid green;
        padding: 0.2rem 0;
        transform: scale(0.75);
        bottom: 2.25rem;

        @media (max-width: 40rem) {
          left: -9.5rem;
        }

        & > p {
          color: #fff;
          margin: 0.25rem 0.5rem;
          font-size: 0.99em;
          text-transform: uppercase;
        }
      }
    }
  }

  & div.graph-container {
    height: 64rem;
  }

  & footer.beef-footer {
    border-top: 1px solid rgba(240, 240, 240, 0.35);
    width: 80%;
    max-width: 110rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    & a {
      text-decoration: underline;
      color: #fff;
      font-family: "Cutive Mono", monospace;
      opacity: 0.6;
      margin-top: 1.5rem;
    }
  }
}
