<div class="border-l-2 border-nd-yellow w-11/12 mx-auto md:w-full">
  <p class="text-nd-pink mb-6 mt-14 ml-10 md:ml-20 font-open-sans font-bold text-4xl">Account Info</p>

  <%= live_component PickEmWeb.PickEmLive.AccountInfoComponent, id: "account-info-component", socket: @socket, user: @user %>

  <p class="text-nd-pink mb-6 mt-14 ml-10 md:ml-20 font-open-sans font-bold text-4xl">Your Picks</p>
</div>
